In [1]:
import pandas as pd

In [7]:
df=pd.read_csv("small.csv")

In [13]:
df.head()

                                              review sentiment
0  Of course Oliver Stone pulls out all the stops...  Positive
1                                  Bills Can Crusher  Positive
2  Product received with a chunk broken off of th...  Positive
3  Don't waste your money buying these jars!!!! T...  Negative
4  This Game Rocks! Buy It I Got It Today And I L...  Positive

In [10]:
df['sentiment'] = df['sentiment'].map({1: 'Negative', 2: 'Positive'})

In [12]:
df=df[['review','sentiment']]

In [14]:
df.to_csv('demo.csv',index=False)