In [1]:
import pandas as pd

In [87]:
df=pd.read_csv("final.csv")

In [91]:
df1.head()

,StockCode,Description,mailid,CustomerID,reviews
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,rohan10.rohan10@gmail.com,17850,Of course Oliver Stone pulls out all the stops...
1,71053,WHITE METAL LANTERN,rohan10.rohan10@gmail.com,17850,Bills Can Crusher
2,84406B,CREAM CUPID HEARTS COAT HANGER,rohan10.rohan10@gmail.com,17850,Product received with a chunk broken off of th...
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,rohan10.rohan10@gmail.com,17850,Don't waste your money buying these jars!!!! T...
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,rohan10.rohan10@gmail.com,17850,This Game Rocks! Buy It I Got It Today And I L...

In [92]:
df1.to_csv('sql_dt.csv',index=False)

In [ ]:
d

In [64]:
df1=df[['StockCode','CustomerID']]

In [65]:
df1['Purchase']=1

In [66]:
df1.head()

  StockCode  CustomerID  Purchase
0    85123A       17850         1
1     71053       17850         1
2    84406B       17850         1
3    84029G       17850         1
4    84029E       17850         1

In [67]:
df1.to_csv("Purchase_His.csv",index=False)

In [9]:
len(df1.CustomerID.unique())

4372

In [11]:
newdf=df1.CustomerID.unique()

In [12]:
type(newdf)

numpy.ndarray

In [13]:
newdf=pd.DataFrame(newdf)

In [15]:
newdf = newdf.rename(columns={0:"Custommer Id"})

In [17]:
for i in df1.StockCode.unique():
    newdf[i]=0

In [23]:
newdf.head()

,Custommer Id,85123A,71053,84406B,84029G,84029E,22752,21730,22633,22632,...,23562,23561,90214F,90214O,90214T,90214U,90214W,90214Z,90089,23843
0,17850,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,13047,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12583,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,13748,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,15100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
newdf.index[newdf['Custommer Id'] == 13748].tolist()

[3]

In [20]:
save=newdf

In [21]:
backup=newdf

In [22]:
for l in range(len(df1)) :
    i=df1.loc[l, "CustomerID"]
    j=df1.loc[l, "StockCode"]
    newdf.loc[newdf.index[newdf['Custommer Id'] == i].tolist(),j]=1

In [25]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4372 entries, 0 to 4371
Columns: 3685 entries, Custommer Id to 23843
dtypes: int64(3685)
memory usage: 122.9 MB

In [27]:
newdf.to_csv('data_split.csv',index=False)

In [48]:
prod=pd.read_csv('Retail Product Recommender.csv')

In [49]:
prod=prod[['StockCode','Description']]

In [56]:
prod.tail()

     StockCode                     Description
3679    90214U       LETTER "U" BLING KEY RING
3680    90214W       LETTER "W" BLING KEY RING
3681    90214Z       LETTER "Z" BLING KEY RING
3682     90089  PINK CRYSTAL SKULL PHONE CHARM
3683     23843     PAPER CRAFT , LITTLE BIRDIE

In [57]:
prod.to_csv('products.csv',index=False)

In [28]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
products = pd.read_csv("products.csv")
purchase = pd.read_csv("Purchase_His.csv")